obj/dropout_layer.o
*.dSYM
*.csv
*.out
*.png
*.so
*.exe
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darkneta/build/darknet/*
build_*/
!darkneta/build/darknet/YoloWrapper.cs
.fuse*
*.weights

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

lib/
include/
share/

